%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path}
        %i.fa.fa-instagram
        = 'Ynsta'
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"}
            People
            %span.sr-only (current)
        %li
          %a{:href => "#"} Travel
        %li
          %a{:href => "#"} Food

      %form.navbar-form.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "Search", :type => "text"}/

      - if current_user
        %a{href: '/upload', class: ' pull-right'}
          = 'Uploader une image'
      - else
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: new_user_registration_path} Inscription
          %li
            %a{href: new_user_session_path} Connexion
