%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path}
        %i.fa.fa-instagram
        = 'Ynsta'
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if params[:id] == '1'
          %li.active
            %a{:href => category_path(1)} People
        - else
          %li
            %a{:href => category_path(1)} People
        - if params[:id] == '2'
          %li.active
            %a{:href => category_path(2)} Travel
        - else
          %li
            %a{:href => category_path(2)} Travel
        - if params[:id] == '3'
          %li.active
            %a{:href => category_path(3)} Food
        - else
          %li
            %a{:href => category_path(3)} Food


      %form.navbar-form.navbar-left{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "Search", :type => "text"}/

      - if current_user
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: upload_path} Uploader une image
          %li
            %a{href: users_path, style: 'font-weight: bold'}
              %i.fa.fa-user
              = current_user.first_name + " " + current_user.last_name
          %li
            %a.fa.fa-sign-out{href: destroy_user_session_path}

      - else
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: new_user_registration_path} Inscription
          %li
            %a{href: new_user_session_path} Connexion
