.row
  - @pictures.each do |picture|
    .col-xs-12.col-md-4
      .picture-container
        .picture
          = image_tag picture.image, class: 'img-responsive'
        .picture-footer
          %h3
            = " Posted by " + picture.user.first_name + " " + picture.user.last_name
          %p
            - @tags.each do |tag|
              - if tag.picture.id == picture.id
                %a{href: tag_path(tag.tag.id)} 
                  = tag.tag.name
