.row
  - @pictures.each do |picture|
    .col-xs-12.col-md-4
      .picture-container
        .picture
          = image_tag picture.image, class: 'img-responsive'
        .picture-footer
          %h3
            = "By " + picture.user.first_name + " " + picture.user.last_name
          %p
            - Tag.all.each do |tag|
              - if picture.tags.pluck(:id).include?(tag.id)
                %a.tag-name{href: tag_path(tag.id)}
                  = tag.name
